* {
  margin: 0;
}

#navbar {
  height: 72px;
}

#main {
  height: calc(100vh - 72px);

  display: flex;
}

#sidebar {
  height: 100%;
  width: 420px;
}

.info-form{
  display: flex;
  flex-direction: column;

  gap: 12px;

  padding: 24px 0;
}

.label-input-wrapper{
  display: flex;
  flex-direction: column;

  gap: 6px;
}

#preview{
  width: 100%;
}

.inactive {
  display: none;
}